{% extends "base.html" %}

{% block title %} My dictionary {% endblock %}


{% block content %}

<div class="main">
    <p>Django-based web app lets register, log in, and store notes in one place. You can create new notes and view them in a neat and tidy layout. The design is clean and user-friendly, so you can focus on capturing your ideas without any hassle.</p>
    <p>If this is your first visit, make sure to register. If you have already registered, feel free to log in and start taking notes.</p>
    <p>When the user is logged in, there are two links available. <span>Add Note</span> allows to create new notes, and <span>Notes</span> allows to view them.</p>
</div>

{% endblock %}