@import url('https://fonts.googleapis.com/css2?family=Roboto');

@font-face {
    font-family: "Norse";
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

* {
    box-sizing: border-box;
    --font-default: 400 calc(1.8vh + 0.5vw) 'Roboto', serif;
}

html {
    background: white;
}

html, body {
    max-width: 890px;
    margin: 0 auto;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 890px;
    background: rgb(201, 221, 221);
    min-height: 100vh;
    margin: 0 auto;
}

.notebook_header {
    padding-top: 25px;
    text-align: center;
}

.notebook_header > h1 > a {
    margin-block-start: 0;
    color: rgb(48, 47, 47);
    text-decoration: none;
}

footer {
    height: 50px;
    color: white;
    background-color: darkslategray;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

footer a {    
    color: white;
}

.notebook_navigation {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-size: 20px;
    background-color: rgb(238, 231, 231);
    width: 100%;
}

.notebook_navigation > li {
    list-style-type: none;
}

.notebook_navigation > li > a, .access-links > a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(6, 91, 141);
}

.notebook_navigation > li > a:hover, .access-links > a:hover {
    color: white;
}

.access-links {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-size: 20px;    
}

.user-info {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 20px;
    padding: 0 20px 10px;
    align-items: center;
    width: 100%;
}

.user-info > .greet-text {
    color: darkslategray;
    font-weight: 600;
}

.main-button {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: darkslategray;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(101, 101, 102, 0.5);
  outline: 0;
}

.main-button:hover {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(162, 163, 165, 0.5);
    outline: 0;
}

.main {
    width: 80%;
    margin: auto;
    font-size: 20px;
    flex: 1;
}

.main > p > span {
    font-weight: 600;
}

.add-note {
    width: 80%;
    margin: auto;
    flex: 1;
}

.add-note > h2 {
    text-align: center;
    color: rgb(48, 47, 47);
}

.add-note > form {
    display: flex;
    flex-direction: column;
}

.add-note > form > textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 200px;
    padding: 5px;
    margin: 5px 0;
    resize: both;
    font-size: 16px;
}

.add-note > form > textarea:focus {
    outline: none;
    background-color: rgb(235, 245, 245);
}

.add-note > form > label {
    font-size: 20px;
}

.notes {
    flex: 1;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px dashed #bbb;
    gap: 10px;
}

.notes > h2 {
    text-align: center;
    color: rgb(48, 47, 47);
}

.note-wrapper {
    width: 80%;
}

.login-form, .registration-form {
    flex: 1;
}

.registration-form {
    width: 80%;
    margin: auto;
}

.registration-form > form {
    display: flex;
    flex-direction: column;
}

.registration-form > form > p > label {
    display: none;
}

.registration-form > form > p {
    margin-bottom: 5px;
}

.registration-form > form > p > input {
    width: 100%;
}

.passwords, .names {
    display: flex;
    flex-direction: column;
}

.names {
    padding-bottom: 15px;
}

hr.rounded {
    margin-top: 15px;
    width: 100%;
    border-top: 8px solid #cfb0b0;
    border-radius: 5px;
}